<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Books</title>
    </head>
    <body>
        <h1> Books Assignment </h1>
        <!--<p> {{books}} </p>-->

        <table border= 1>
            <tr>
                <th>Title </th>
                <th>Author </th>
                <th>Published Date </th>
                <th>Category </th>
            </tr>
            {% for x in books %}
            <tr>
                <td>{{x.title}}</td>
                <td>{{x.author}}</td>
                <td>{{x.published_date}}</td>
                <td>{{x.category}}</td>
            </tr>
            {% endfor %}



        </table>

        <form action="/courses">
            {% csrf_token %}
            <input type="submit" value="Back To Courses">
        </form>

    </body>
</html>
